/* Untuk Tablet */
@media all and (max-width: 1000px) {
  		.container{
   		margin: 0px 25px;
   	}

   	.container p{
   		font-size:12px;
   		width: 50%;
   	}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
   	.container{
   		margin: 0px 25px;
   	}

   	.container p{
   		font-size:12px;
   		width: 50%;
   	}
}
